@page "/"
@namespace BlazorAppTest.Pages
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var pathBase = Configuration.GetValue(typeof(string), "PathBase") + "/";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="@pathBase" />
    <title>Test App</title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="BlazorAppTest.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
</head>

<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="@(pathBase)_framework/blazor.server.js"></script>
</body>

</html>
